@namespace Dailylight.Web.Server.Admin
@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>Sign In | Daily Light Media</title>
    <link href="/Assets/Css/dna.style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main class="login-page">
        @Body
    </main>
</body>

</html>

@code {

}
