
<header>
    <div class="container">
        <div class="grid-wrapper">
            <div class="grid">
                <p class="error-page error-text-big">
                    <strong>Opps... An error occurred</strong>
                </p>
            </div>
        </div>
    </div>
</header>