@{
    ViewData["Title"] = "Home";
}

<!--      ===============      -->
<!-- Explore Daily Light Media -->
<!--      ===============      -->

<header class="container faded slower slide-fade-in gradient-background">
    <div class="container text-horizontal-center">
        <div class="grid-wrapper">
            <div class="grid horizontal-center">
                <div class="col center three-fifths below-lap-one-whole">

                    <div class="container">
                        <img src="Assets/Images/Screenshot_20200205-181504.png" />
                    </div>

                    <h1>Daily Light Media.</h1>
                    <p>
                        Explore Daily Light, the christian daily devotional by The African Church on your mobile
                        phone.
                    </p>
                    <p>
                        <a class="alternative" href="/dailylight/apk/download">Download Now &gt;</a>
                    </p>
                    <p>
                        <i class="ion-ios-information"></i>
                        <small class="alternative">For android users only</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ============== -->
<!-- Explore -->
<!-- ============== -->
<section class="index-promo-forum faded slower index-image-section" data-scroll-into-view="slide-fade-in"
         data-scroll-into-view-offset="50">
    <div class="container text-horizontal-center index-image-text2">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="col">
                    <img src="Assets/Images/devotions-page.png"
                         style="width: 50% !important; min-width: 50% !important; margin: 48px auto; display: block;">
                    <h1>Explore 365 Days Devotions</h1>
                    <p>
                        You are only few steps away from the 365 each day study and devotion that enriches your
                        life
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== -->
<!-- Anywhere, anytime -->
<!-- ============== -->
<section class="index-promo">
    <div class="text-horizontal-center">
        <div class="grid-wrapper">
            <div class="grid horizontal-center">
                <div class="col center one-half below-lap-one-whole">
                    <img src="Assets/Images/pressing-phone.jpg" />

                    <div class="container">
                        <h1>Anywhere, anytime</h1>
                        <p>Daily Light media comes in handy anywhere, anytime</p>
                        <p>
                            <a href="/dailylight/apk/download" class="alternative">Start Exploring Now &gt;</a>
                        </p>
                    </div>
                    <div class="shadow-image">
                        <img src="Assets/Images/floating-phone-shadow.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>