@namespace Dailylight.Web.Server.Admin
@using Dailylight.Server.Core
@inherits LayoutComponentBase
@inject ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@using Dna
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

<NavMenu />

<AuthorizeView>
    <Authorized>
        <main class="o-page__content">
            @Body
        </main>
    </Authorized>

    <NotAuthorized>
        <main class="a-page__content">
            @Body
        </main>
    </NotAuthorized>
</AuthorizeView>

@code
{
}
